


li{
    list-style-type:none;
    
}

.container_items{
     height: 100px;
    width: 50%;
    background: aqua;
    margin: auto;
    /* padding: 10px; */
   
}

.label_titles{
    font-family: Helvetica;
    background-color: blue
}


.radio_button{
    background: red;
    float: left;
}
.label-item{
    font-family: Helvetica;
    margin-left: 20px;
    /* margin: 20px; */
    height: 20px;
    background: yellow;
}

.label-item-price{
    font-family: Helvetica;
    /* margin-left: 15%; */
   background-color: green;
   float: right;



}



