body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
li{
    list-style-type:none;
}
h1{
    font-size: 50px;
}
h3{
    font-family: 'Anton', sans-serif;    
    text-align: center;
}

button{
    background-color: grey; 
    border: none;
    border-radius: 12px;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}
header{
    background-color:#293133 ;
    height: 150px;
    padding: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;

}

.container_form{
    /* width: 1800px;
    height: 400px */
    height: 100px;
    width: 40%;
    background: aqua;
    margin: auto;
    display: inline-table;
}





.label_titles{
    font-family: Helvetica;
    background-color: pink;
    text-align: center;
    line-height: 150%;
}


.radio_button{
    float: left;
}

.label-item{
    font-family: 'Montserrat', Helvetica,sans-serif;
    margin-left: 20px;
    width: 250px;
    /* margin: 20px; */
    height: 20px;
    background: yellow;
}

.label-item-price{
    font-family: Helvetica;
    /* margin-left: 15%; */
   background-color: lightgreen;
   float: right;
}

.label-item-topping{
    font-family: 'Montserrat', Helvetica,sans-serif;
    display: inline;
}



