body{
    background-color: #ffb560; 
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.default {cursor: default;}

li{
    list-style-type:none;
}
h1{
    font-size: 50px;
}

h3{
    font-family: 'Anton', sans-serif;    
}

button{
    background-color: grey; 
    border: none;
    border-radius: 12px;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 35px;
}
header{
    background-color:#293133 ;
    height: 150px;
    padding: 40px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.container_form{
    height: 100px;
    width: 60%;
    margin: auto;
    display: inline-table;
}

.radio_button{
    float: left;
}

.base_items{
    font-family: 'Montserrat', Helvetica,sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    padding:20px;
    width: 60%;
}

.toppings{
    font-family: 'Montserrat', Helvetica,sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    padding:30px;
    width: 90%;
}

.delivery{
    font-family: 'Montserrat', Helvetica,sans-serif;
}

.dez{
    font-size: 16px;
}

.price{
    font-family: 'Montserrat', Helvetica,sans-serif;
}

.total_price{
    width: 8%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}






